name: Check
on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v6'
        with:
          fetch-depth: 0 # required to fetch all history for all branches and tags

      - name: 'Docker Build'
        run: |
          make docker-build
